/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
  --red: #E21A37;
  /* --darkred: #BB152D; */
  --darkred: #810001;
  --black: #111111;
  --darkgrey: #CACACA;
  --grey: #D9D9D9;
  --white: #ffffff;

}

/* Approved Classes */
.staff {
  position: relative;
}

.staff .member {
  position: absolute;
  padding: 40px 25px;
}
.member .h2::after {
  content: ' //';
}
.member p {
line-height: 0;
}
.member h1 {
line-height: 55px;
/* font-size: 34px; */
}
/* Approved Classes */

html, body {
  height: 100%;
}

.version {
  background-color: var(--black);
  color: var(--white);
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  z-index: 99;
  border-radius: 10px 0px 0px;
  font-size: 15px;
  padding: 5px 20px;
  box-shadow: -5px -5px 5px 0px rgba(0, 0, 0, 0.1);
}
.shad {
  box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.1);
}
* {
  scroll-behavior: smooth;
  /* border: 1px solid #000; */
  /* z-index: 1; */

}

@font-face {
    font-family: 'HeyNovember';
    font-weight: 900;
    src: url("assets/fonts/HeyNovember.ttf") format("truetype");
}
@font-face {
    font-family: 'BebasNeue-Regular';
    font-weight: 900;
    src: url("assets/fonts/BebasNeue-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'BVP-Black';
    font-weight: 900;
    src: url("assets/fonts/BeVietnamPro-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: 'BVP';
  font-weight: 100;
  src: url("assets/fonts/BeVietnamPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'BV';
  font-weight: 100;
  src: url("assets/fonts/BeVietnam-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'big_noodle_titling';
  font-weight: 900;
  src: url("assets/fonts/big_noodle_titling.ttf") format("truetype");
}
/* .navbar li:hover {
  background-color: var(--darkred);
  transition: 0.3s ease-in-out;
}
.navbar li {
  background-color: var(--red);
  transition: 0.3s ease-in-out;
  color: var(--white);
}

.navbar div {
  border-bottom: 3px solid var(--red);
  border-top: 3px solid var(--red);
  transition: 0.3s ease-in-out;

}
.navbar a:hover div {
  transition: 0.3s ease-in-out;
  border-top: 3px solid var(--darkred);
  border-bottom: 3px solid var(--darkred);
}
.activenav div {
  border-bottom: 3px solid #000;
  border-top: 3px solid var(--red);
  color: var(--black);
}

.activenav:hover div {
  border-bottom: 3px solid #000;
  border-top: 3px solid var(--red);

}
.activenav:hover {
  background-color: var(--red);
  transition: 0.3s ease-in-out;
}

.activenav div:hover {
  border-bottom: 3px solid #000;
  border-top: 3px solid var(--red);
  background-color: var(--red);
  transition: 0.3s ease-in-out;
} */
.activenav div {
  color: var(--black);
}

.navbar div div {
  border-bottom: 3px solid var(--red);
  border-top: 3px solid var(--red);
}
.navbar div:hover div {
  border-bottom: 3px solid var(--darkred);
  border-top: 3px solid var(--darkred);
}
.navbar div:hover {
  background-color: var(--darkred);
}
.navbar .activenav div:hover {
  background-color: var(--red);

}
.navbar .activenav div div {
  border-bottom: 3px solid #000;
  border-top: 3px solid var(--red);
}
.navbar .activenav div:hover div {
  border-bottom: 3px solid #000;
  border-top: 3px solid var(--red);
}
.social {
  color: var(--white);
  transition: 0.3s ease-in-out;
}
.social a:hover {
  color: var(--red);
  transition: 0.3s ease-in-out;
}
.footer a:hover {
  text-decoration: underline;
  color: var(--white);
}
.hero {
  background-image: url("./assets/imgs/herobg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero br {
  user-select: none;
}
.date{
  font-weight: bold;
}
.date2{
  font-weight: bold;
  font-size: 15px;
  
}
.teams * {
  padding: 8px;
}
.content {
  position: relative;
  height: 100vh;
}

.bottomborder {
  border-bottom: 5px solid var(--red);
  border-radius: 1px;
  width: 45px;
  height: 0;
  overflow: hidden;
  margin: 0px 0 10px 0;
}
.bottomborderblack {
  border-bottom: 5px solid var(--black);
  border-radius: 1px;
  width: 45px;
  height: 0;
  overflow: hidden;
  margin: 0px 0 10px 0;
}
.bottomborderlong {
  border-bottom: 5px solid var(--red);
  border-radius: 1px;
  width: 90px;
  height: 0;
  overflow: hidden;
  margin: 0px 0 10px 0;
}
.bottomborderblacklong {
  border-bottom: 5px solid var(--black);
  border-radius: 1px;
  width: 90px;
  height: 0;
  overflow: hidden;
  margin: 0px 0 10px 0;
}
.rightborder {
  /* width: 100%; */
  height: 2px;
  background-color: var(--red);
  overflow: hidden;
  margin: 25px 0;
}
.rightborderblack {
  /* width: 100%; */
  height: 1px;
  background-color: var(--black);
  overflow: hidden;
  margin: 25px 0;
}
.rightborderwhite {
  /* width: 100%; */
  height: 1px;
  background-color: var(--white);
  overflow: hidden;
  margin: 25px 0;
}
.btn {
  font-family: 'big_noodle_titling';
  font-size: 25px;
  letter-spacing: 1px;
  /* width: 100%; */
}
.heroo .btn {
  width: 100%;
}
.ig img{
  border-radius: 10px;
  aspect-ratio: 1;

}
.btn--primary {
  background-color: var(--red);
  color: var(--white);
  border: 3px solid var(--red);
  transition: 0.3s ease-in-out;
}
.btn--primarysmall {
  background-color: var(--red);
  color: var(--white);
  border: 3px solid var(--red);
  transition: 0.3s ease-in-out;
  padding: 0 40px;
}
.btn--primary:hover {
  background-color: var(--darkred);
  color: var(--white);
  border: 3px solid var(--darkred);
}
.btn--primary:active {
  background: var(--white);
  color: var(--black);
  border: 3px solid var(--white);
}
.btn--primarysmall:hover {
  background-color: var(--darkred);
  color: var(--white);
  border: 3px solid var(--darkred);
}
.btn--primarysmall:active {
  background: var(--white);
  color: var(--black);
  border: 3px solid var(--white);
}
.btn--secondary {
  background: none;
  color: var(--white);
  border: 3px solid var(--white);
  transition: 0.3s ease-in-out;

}
.btn--secondary:hover {
  background: none;
  color: var(--red);
  border: 3px solid var(--red);
}
.btn--secondary:active {
  background: var(--white);
  color: var(--red);
  border: 3px solid var(--white);
}

.text-november {
  font-family: 'HeyNovember', serif;
}
.text-bebasneue {
  font-family: 'BebasNeue-Regular', sans-serif;
}
.title {
  padding: 70px 0;
}
.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: var(--red);
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  /* z-index: 99; */
}

.footer {
  position:relative;
  left:0;
  bottom:0;
  right:0;
}
@media screen and (max-width: 580px) {
  .title2 {
    margin-top: -135px;
    padding: 0;
  }
}
@media screen and (min-width: 581px) {
  .title2 {
    margin-top: -140px;
    margin-left: 13px;

    padding: 0;
  }
}
@media screen and (min-width: 844px) {
  .title2 {
    margin-top: -135px;
    margin-left: 13px;

    padding: 0;
  }
}
@media screen and (min-width: 1060px) {
  .title2 {
    margin-top: -85px;
    margin-left: 13px;

    padding: 0;
  }
}
@media screen and (min-width: 1155px) {
  .title2 {
    margin-top: -87px;
    margin-left: 13px;
    padding: 0;
  }
}
@media screen and (max-width: 580px) {
  .title3 {
    margin-top: -135px;
    padding: 0;
  }
}
@media screen and (min-width: 581px) {
  .title3 {
    margin-top: -140px;
    margin-left: 13px;

    padding: 0;
  }
}
@media screen and (min-width: 844px) {
  .title3 {
    margin-top: -135px;
    margin-left: 13px;

    padding: 0;
  }
}
@media screen and (min-width: 1060px) {
  .title3 {
    margin-top: -85px;
    margin-left: 13px;

    padding: 0;
  }
}
@media screen and (min-width: 1155px) {
  .title3 {
    margin-top: -87px;
    margin-left: 13px;
    padding: 0;
  }
}


@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.borderb {
  border-bottom: 1px solid var(--grey);
}
.bordert {
  border-top: 1px solid var(--grey);
}
.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}
/* TESTING */

.image-container {
  /* overflow:hidden;
  min-height: 500px;
  height: 100%;
  max-width: 100%;
  display:block;
  float: right;
  background-clip: border-box;
  position: relative;
  right: 0; */
  width: 100%;
  }
  .image-container > img {
  height: 500px;
  width: 100%;
  overflow: hidden;
  float: right;
  }

.center {
    position: absolute;
    float: center;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 280px;
  }
  .b4left{
    background: var(--black);
    position: absolute;
    left: 0;
    height: 750px;
    width: calc(50vw - 600px);
    opacity: 1;
    z-index: 0;
  }

  .hee {
    z-index: 20 !important;
    position: relative;
  }
    .rightimg {
    position: absolute;
    right: -1100px;
    z-index: 6 !important;
  }
  .b4right{
    background: var(--black);
    position: absolute;
    z-index: 2;
    right: 0;
    height: 720px;
    width: calc(50vw - 500px);
    opacity: 1;
  }
  .b4rightc1{
    background: var(--black);
    position: absolute;
    z-index: 2;
    right: 0;
    height: 250px;
    width: calc(50vw - 500px);
    opacity: 1;
  }
  .b4rightc2{
    background: var(--black);
    position: absolute;
    z-index: 2;
    right: 0;
    height: 350px;
    width: calc(50vw - 500px);
    opacity: 1;
    top: 678px;
  }
  .faderight {
  background-image: linear-gradient(to left, var(--black) 2vw, rgba(0,0,0,0));
    position: absolute;
    z-index: 20;
    right: 0;
    height: 720px;
    width: 10vw;
    opacity: .7;
  }
  .faderightc1 {
    background-image: linear-gradient(to left, var(--black) 2vw, rgba(0,0,0,0));
      position: absolute;
      z-index: 20;
      right: 0;
      height: 250px;
      width: 10vw;
      opacity: .7;
    }
    .faderightc2 {
      background-image: linear-gradient(to left, var(--black) 2vw, rgba(0,0,0,0));
        position: absolute;
        z-index: 20;
        right: 0px;
        height: 350px;
        width: 10vw;
        opacity: .7;
        top: 677px;

      }
  .footer {
    color: var(--grey);
    font-family: 'BVP';
    font-weight: 100;
  }
  .footer h6{
    color: var(--white);
  }
  p {
    font-family: 'BV';
    font-weight: 100;
    font-size: 17px;
  }
  p a {
    color: var(--red);
    font-family: 'BVP-black';
  }
  p a:hover {
    color: var(--darkred);
    text-decoration: underline;
  }
  .link button {
    color: var(--red);
    font-family: 'BVP-black';
    position: relative;
  }

 .link button:hover {
    color: var(--darkred);
    text-decoration: underline;
  }
  .copied {
    display: none;
    background-color: var(--black);
    border-radius: 10px;
    margin: 5px;
    color: var(--white);
    padding: 5px 10px;
    position: absolute;
    right: -110px;
  }
  .copied::before {
    content: url("./assets/imgs/carrot.png");
    color: var(--black);
    position: absolute;
    left: -10px;
    top: 3px;
  }
  .copy:active > .copied {
    display: block;

  }
  a .asvghover, a:hover .asvg {
    display: none;
  }
  a:hover .asvghover, a .asvg {
    display: block;
  }
  .player:hover h1 {
    color: var(--darkred);
  }
  .eventcard {
    width: calc(100% - 100px);
  }
  .smalleventcard {
    width: 100%;
  }
  .description p {
    font-size: 15px;
    color: var(--darkgrey);
    font-family: 'BVP-black';
  }
  .staffteam {
    color: var(--red);
  }
  .staffteam::before {
    content: "|";
  }
  .description a {
    color: var(--red);
    font-family: 'BVP-black';
  }
  .description a:hover {
    color: var(--darkred);
    text-decoration: underline;
  }
.left {
    position: absolute;
    left: -800px;
  }
  .left3 {
    position: absolute;
    left: -800px;
  }
  .left2 {
    position: absolute;
    left: -950px;
  }
   .right {
    position: absolute;
    right: -800px;
  }
  .right2 {
    position: absolute;
    right: -500px;
  }
  @media screen and (max-width: 1430px) {
    .left {
      position: absolute;
      left: -700px;
    }
    .left2 {
      position: absolute;
      left: -860px;
    }
     .right {
      position: absolute;
      right: -700px;
    }
    .right2 {
      position: absolute;
      right: -400px;
    }
  }
  @media screen and (max-width: 844px) {
    .left {
      position: absolute;
      left: -600px;
    }
    .left2 {
      position: absolute;
      left: -600px;
    }
  }
  .headerr {
    background-image: url(./assets/imgs/headerimg.png);
    background-repeat: no-repeat;
    background-position:  top 40%  right 10%;
    background-size: 50%;
    position: relative;
  }
    .headerw {
    background-image: url(./assets/imgs/grey.png);
    background-repeat: no-repeat;
    background-position:  top 40%  right 10%;
    background-size: 50%;
    position: relative;
  }
  .bgg {
    background-image: url(./assets/imgs/bgg.png);
    background-repeat: repeat;
    position: relative;
  }
  .aboutimg .left {
    position: absolute;
    float: center;
    left: calc(-50vw - 150px);
  }
  .aboutimg .right {
    position: absolute;
    float: center;
    right: calc(-50vw - 150px);
  }
  .aboutimg  {
    position: relative;
    /* margin: 40px 0; */
    max-height: 100%;
    /* z-index: -2 !important; */
    background: var(--black);
  }
  .aboutsec {
    background-image: url(./assets/imgs/swirl.png);
    background-size: cover;
    background-attachment: fixed;
    z-index: 10;
  }
  .ig:hover a {
    opacity: 0.7;
    transition: 0.3s ease-in-out;
  }

  .ig a:hover {
    opacity: 1;
    transition: 0.3s ease-in-out;

  }
  .ig a{
    opacity: 1;
    transition: 0.3s ease-in-out;

  }
a {
  z-index: 20;
}
.sidebar li{
  background-color: var(--white);
  text-align: center;
}
.sidebar li:hover{
  background-color: var(--black);
  text-align: center;
}

.dacoolting {
  transform: rotate(0deg);
  transition: 0.3s ease;
  margin: 16px 0;
}


input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}


/* Accordion styles */
.tabs {
  overflow: hidden;
}

.tab {
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  cursor: pointer;
}
.tab-content {
  max-height: 0;
  transition: all 0.5s;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}


input:checked + .tab-label .dacoolting {
  transform: rotate(180deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
}

.small {
  line-height: 45px !important;
  font-size: 19px !important;
}
 .lion {
  position:absolute;
  opacity: 0.3;
}
@media screen and (max-width: 844px) {
  .lion {
    top: -20px;
    right: -500px;
    width: 500px;
  }
}
@media screen and (min-width: 844px) {
  .lion {
    top: -100px;
    right: -500px;
    left: 0;
    margin: auto;
    width: 500px;
  }
}
@media screen and (min-width: 1060px) {
  .lion {
    top: -100px;
    right: -500px;
    left: 0;
    margin: auto;
    width: 600px;
  }
}
/* @media screen and (min-width: 844px) {
  .lion {
    top: -100px;
    right: 500px;
    width: 500px;
  }
} */
@media screen and (min-width: 1155px) {
  .lion {
    top: -100px;
    right: -600px;
    left: 0;
    margin: auto;
    width: 650px;
  }
}
.lion2 {
  position:absolute;
  opacity: 0.3;
}

.lion3 {
  position:absolute;
  opacity: 1;
}
@media screen and (max-width: 844px) {
  .lion2 {
    top: -20px;
    right: -50px;
    width: 500px;
  }
}
@media screen and (min-width: 844px) {
  .lion2 {
    top: -100px;
    right: -500px;
    left: 0;
    margin: auto;
    width: 500px;
  }
}
@media screen and (min-width: 1060px) {
  .lion2 {
    top: -100px;
    right: -500px;
    left: 0;
    margin: auto;
    width: 600px;
  }
}

@media screen and (min-width: 1155px) {
  .lion2 {
    top: -100px;
    right: -600px;
    left: 0;
    margin: auto;
    width: 650px;
  }
}
.lionfinal {
  position: absolute;
}
@media screen and (max-width: 844px) {
  .lionfinal {
    top: -20px;
    right: -50px;
    width: 500px;
  }
}
@media screen and (min-width: 844px) {
  .lionfinal {
    top: -100px;
    right: -200px;
    left: 0;
    margin: auto;
    width: 500px;
  }
}
@media screen and (min-width: 1060px) {
  .lionfinal {
    top: -100px;
    right: -400px;
    left: 0;
    margin: auto;
    width: 600px;
  }
}
@media screen and (min-width: 1155px) {
  .lionfinal {
    top: -100px;
    right: -600px;
    left: 0;
    margin: auto;
    width: 650px;
  }
}
.bigeventred {
  /* border:3px solid var(--red); */

  clip-path: 
    polygon(
      0% 45px,     /* top left */
      45px 0%,     /* top left */
      100% 0%,    /* top right */
      100% 0%,   /* top right */
      100% calc(100% - 45px),  /* bottom right */
      calc(100% - 45px) 100%,  /* bottom right */
      0% 100%,   /* bottom left */
      0 100%      /* bottom left */
    );
  background-color: var(--red);
  padding: 2px;
}
.bigeventgrey {
  /* border:3px solid var(--red); */

  clip-path: 
    polygon(
      0% 45px,     /* top left */
      45px 0%,     /* top left */
      100% 0%,    /* top right */
      100% 0%,   /* top right */
      100% calc(100% - 45px),  /* bottom right */
      calc(100% - 45px) 100%,  /* bottom right */
      0% 100%,   /* bottom left */
      0 100%      /* bottom left */
    );
  background-color: var(--grey);
  padding: 2px;
}
.bigeventred2 {
  /* border:3px solid var(--red); */

  clip-path: 
    polygon(
      0% 44px,     /* top left */
      44px 0%,     /* top left */
      100% 0%,    /* top right */
      100% 0%,   /* top right */
      100% calc(100% - 44px),  /* bottom right */
      calc(100% - 44px) 100%,  /* bottom right */
      0% 100%,   /* bottom left */
      0 100%      /* bottom left */
    );
  background-color: var(--white);
  padding: 20px 50px;
}
.smalleventred {
  /* border:3px solid var(--red); */

  clip-path: 
    polygon(
      0% 20px,     /* top left */
      20px 0%,     /* top left */
      100% 0%,    /* top right */
      100% 0%,   /* top right */
      100% calc(100% - 20px),  /* bottom right */
      calc(100% - 20px) 100%,  /* bottom right */
      0% 100%,   /* bottom left */
      0 100%      /* bottom left */
    );
  background-color: var(--red);
  padding: 2px;
}
.smalleventgrey {
  /* border:3px solid var(--red); */

  clip-path: 
    polygon(
      0% 20px,     /* top left */
      20px 0%,     /* top left */
      100% 0%,    /* top right */
      100% 0%,   /* top right */
      100% calc(100% - 20px),  /* bottom right */
      calc(100% - 20px) 100%,  /* bottom right */
      0% 100%,   /* bottom left */
      0 100%      /* bottom left */
    );
  background-color: var(--grey);
  padding: 2px;
}
.smalleventred2 {
  /* border:3px solid var(--red); */
  background-image: url("./assets/imgs/swirl.png");
  background-attachment: fixed;
  clip-path: 
    polygon(
      0% 19px,     /* top left */
      19px 0%,     /* top left */
      100% 0%,    /* top right */
      100% 0%,   /* top right */
      100% calc(100% - 19px),  /* bottom right */
      calc(100% - 19px) 100%,  /* bottom right */
      0% 100%,   /* bottom left */
      0 100%      /* bottom left */
    );
  background-color: var(--white);
  padding: 10px 0px;
}
.leftimgcrop{
  background-image: url(./assets/imgs/img-48421.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  /* max-height: 50vw; */
  min-width: 2000px;
  height: 750px;
  clip-path: 
  polygon(
    0% 0px,     /* top left */
    0px 0%,     /* top left */
    0% 0%,    /* top right */
    calc(100% - 400px) 0%,   /* top right */
    100% 100%,  /* bottom right */
    100% 100%,  /* bottom right */
    0% 100%,   /* bottom left */
    0 100%      /* bottom left */
  );
  position: absolute;
  right: 50%;
  z-index: 6 !important;
}
.fadeleft {
  background-image: linear-gradient(to right, var(--black) 2vw, rgba(0,0,0,0));
    position: absolute;
    z-index: 8;
    left: 0;
    height: 750px;
    width: 10vw;
    opacity: .7;
    
  }
  .fadeleftimg {
    background-image: linear-gradient(to right, var(--black) 2vw, rgba(0,0,0,0));
      position: relative;
      z-index: 8;
      left: 0;
      height: 750px;
      width: 10vw;
      /* opacity: .5; */
      
    }
    
.rightimgcrop{
  background-image: url(./assets/imgs/img-48421.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  /* max-height: 50vw; */
  min-width: 2000px;
  height: 750px;
  clip-path: 
  polygon(
    0% 100%,     /* top left */
    400px 0%,     /* top left */
    0% 0%,    /* top right */
    100% 0%,   /* top right */
    100% 100%,  /* bottom right */
    100% 100%,  /* bottom right */
    0% 100%,   /* bottom left */
    0 100%      /* bottom left */
  );
  position: absolute;
  left: 50%;
  z-index: 6 !important;
}
.contactimgcrop{
  background-image: url(./assets/imgs/img-48421.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  /* max-height: 50vw; */
  min-width: 1100px;
  height: 250px;
  clip-path: 
  polygon(
    0% 100%,     /* top left */
    150px 0%,     /* top left */
    0% 0%,    /* top right */
    100% 0%,   /* top right */
    100% 100%,  /* bottom right */
    100% 100%,  /* bottom right */
    0% 100%,   /* bottom left */
    0 100%      /* bottom left */
  );
  position: absolute;
  left: 70%;
  z-index: 6 !important;
}
.contactimgcrop2{
  background-image: url(./assets/imgs/img-48421.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  /* max-height: 50vw; */
  min-width: 1200px;
  height: 350px;
  clip-path: 
  polygon(
    0% 100%,     /* top left */
    200px 0%,     /* top left */
    0% 0%,    /* top right */
    100% 0%,   /* top right */
    100% 100%,  /* bottom right */
    100% 100%,  /* bottom right */
    0% 100%,   /* bottom left */
    0 100%      /* bottom left */
  );
  position: absolute;
  left: 50%;
  top:300px;
  z-index: 6 !important;
}
.faderight {
  background-image: linear-gradient(to left, var(--black) 2vw, rgba(0,0,0,0));
    position: absolute;
    z-index: 8;
    right: 0;
    height: 750px;
    width: 10vw;
    opacity: .7;
    
  }
  .faderightimg {
    background-image: linear-gradient(to left, var(--black) 2vw, rgba(0,0,0,0));
      position: relative;
      z-index: 8;
      right: 0;
      height: 750px;
      width: 10vw;
      /* opacity: .5; */
      
    }
    .faderightimgc1 {
      background-image: linear-gradient(to left, var(--black) 2vw, rgba(0,0,0,0));
        position: relative;
        z-index: 8;
        right: 0;
        height: 250px;
        width: 10vw;
        /* opacity: .5; */
        
      }
      .faderightimgc2 {
        background-image: linear-gradient(to left, var(--black) 2vw, rgba(0,0,0,0));
          position: relative;
          z-index: 8;
          right: 0;
          height: 350px;
          width: 10vw;
          /* opacity: .5; */
          
        }
    .smalleventred:hover .teamimg, .smalleventred .textty {
      opacity: 0;
      transition: .3s ease-in-out;

    }

    .smalleventred .teamimg, .smalleventred:hover .textty{
      transition: .3s ease-in-out;
      opacity: 1;
    }
    .smalleventred .teamimg{
      height: 80px;
      width: auto;
    }
.temm {
  position: absolute;
  height: 100px;
  padding: 10px;
}
.playercard {
  border: 1px solid var(--darkgrey);
  padding: 30px 20px 10px;
  background-image: url("./assets/imgs/outop.svg");
  background-size: 100%;
  background-position: 80px -20px;
  background-repeat: no-repeat;
}
.playercard h3::after{
content: " //";
}
.playercard h3{
  font-size: 18px;
  line-height: 25px;
  padding-bottom: 10px;
}
.playercard h1{
  font-size: 80px;
  color: var(--red);
  line-height: 60px;
}
.playercardred {
  border: 1px solid var(--red);
  background-color: var(--red);
  padding: 30px 20px 10px;
  background-image: url("./assets/imgs/outopred.svg");
  background-size: 100%;
  background-position: 80px -20px;
  background-repeat: no-repeat;
  color: var(--white);
}
.playercardred h3::after{
content: " //";
}
.playercardred h3{
  font-size: 18px;
  line-height: 25px;
  padding-bottom: 10px;
}
.playercardred h1{
  font-size: 80px;
  color: var(--white);
  line-height: 60px;
}
.oop {
  cursor:not-allowed;
}