/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
  --red: #E21A37;
  /* --darkred: #BB152D; */
  --darkred: #810001;
  --black: #111111;
  --darkgrey: #CACACA;
  --grey: #D9D9D9;
  --white: #ffffff;

}
html, body {
  height: 100%;
}
.version {
  background-color: var(--black);
  color: var(--white);
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  z-index: 99;
  border-radius: 10px 0px 0px;
  font-size: 15px;
  padding: 5px 20px;
  box-shadow: -5px -5px 5px 0px rgba(0, 0, 0, 0.1);
}
.shad {
  box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.1);
}
* {
  scroll-behavior: smooth;
  /* border: 1px solid #000; */
  /* z-index: 1; */

}

@font-face {
    font-family: 'HeyNovember';
    font-weight: 900;
    src: url("assets/HeyNovember.ttf") format("truetype");
}
@font-face {
    font-family: 'BebasNeue-Regular';
    font-weight: 900;
    src: url("assets/BebasNeue-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'BeVietnamPro-Black';
    font-weight: 900;
    src: url("assets/BeVietnamPro-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: 'BeVietnamPro';
  font-weight: 100;
  src: url("assets/BeVietnamPro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'big_noodle_titling';
  font-weight: 900;
  src: url("assets/big_noodle_titling.ttf") format("truetype");
}
.navbar li:hover {
  background-color: var(--darkred);
  transition: 0.3s ease-in-out;
}
.navbar li {
  background-color: var(--red);
  transition: 0.3s ease-in-out;
}
.social {
  color: var(--white);
  transition: 0.3s ease-in-out;
}
.social a:hover {
  color: var(--red);
  transition: 0.3s ease-in-out;
}
.footer a:hover {
  text-decoration: underline;
  color: var(--white);
}
.hero {
  background-image: url("./assets/herobg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero br {
  user-select: none;
}
.date{
  font-weight: bold;
}
.teams * {
  padding: 8px;
}
.content {
  position: relative;
  height: 100vh;
}
.leftborder {
  border-left: 6px solid;
  border-radius: 1px;
}
.redborder {
  border-color: var(--red);
}
.blackborder {
  border-color: var(--black);
}
.bottomborder {
  border-bottom: 5px solid var(--red);
  border-radius: 1px;
  width: 45px;
  height: 0;
  overflow: hidden;
  margin: 0px 0 10px 0;
}
.btn {
  font-family: 'big_noodle_titling';
  font-size: 25px;
  letter-spacing: 1px;
  /* width: 100%; */
}
.heroo .btn {
  width: 100%;
}
.ig img{
  border-radius: 10px;
}
.btn--primary {
  background-color: var(--red);
  color: var(--white);
  border: 3px solid var(--red);
  transition: 0.3s ease-in-out;
}
.btn--primarysmall {
  background-color: var(--red);
  color: var(--white);
  border: 3px solid var(--red);
  transition: 0.3s ease-in-out;
  padding: 0 40px;
}
.btn--primary:hover {
  background-color: var(--darkred);
  color: var(--white);
  border: 3px solid var(--darkred);
}
.btn--primary:active {
  background: var(--white);
  color: var(--black);
  border: 3px solid var(--white);
}
.btn--primarysmall:hover {
  background-color: var(--darkred);
  color: var(--white);
  border: 3px solid var(--darkred);
}
.btn--primarysmall:active {
  background: var(--white);
  color: var(--black);
  border: 3px solid var(--white);
}
.btn--secondary {
  background: none;
  color: var(--white);
  border: 3px solid var(--white);
  transition: 0.3s ease-in-out;

}
.btn--secondary:hover {
  background: none;
  color: var(--red);
  border: 3px solid var(--red);
}
.btn--secondary:active {
  background: var(--white);
  color: var(--red);
  border: 3px solid var(--white);
}
.active{
  background-color: red;
  color: #fff;
}
.text-november {
  font-family: 'HeyNovember', serif;
}
.text-bebasneue {
  font-family: 'BebasNeue-Regular', sans-serif;
}
.title {
  padding: 70px 0;
}
.lion {
  position:absolute;
  opacity: 0.3;
}
@media screen and (max-width: 844px) {
  .lion {
    top: -20px;
    right: -500px;
    width: 500px;
  }
}
@media screen and (min-width: 844px) {
  .lion {
    top: -100px;
    right: -500px;
    left: 0;
    margin: auto;
    width: 500px;
  }
}
@media screen and (min-width: 1060px) {
  .lion {
    top: -100px;
    right: -500px;
    left: 0;
    margin: auto;
    width: 600px;
  }
}
/* @media screen and (min-width: 844px) {
  .lion {
    top: -100px;
    right: 500px;
    width: 500px;
  }
} */
@media screen and (min-width: 1155px) {
  .lion {
    top: -100px;
    right: -600px;
    left: 0;
    margin: auto;
    width: 650px;
  }
}
.lion2 {
  position:absolute;
  opacity: 0.3;
}
@media screen and (max-width: 843px) {
  .lion2 {
    top: -20px;
    right: -500px;
    width: 500px;
  }
}
@media screen and (min-width: 844px) {
  .lion2 {
    top: -100px;
    right: -500px;
    left: 0;
    margin: auto;
    width: 500px;
  }
}
@media screen and (min-width: 1060px) {
  .lion2 {
    top: -100px;
    right: -500px;
    left: 0;
    margin: auto;
    width: 950px;
  }
}
/* @media screen and (min-width: 844px) {
  .lion {
    top: -100px;
    right: 500px;
    width: 500px;
  }
} */
@media screen and (min-width: 1155px) {
  .lion2 {
    top: -100px;
    right: -100px;
    left: 0;
    margin: auto;
    width: 950px;
  }
}
.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: var(--red);
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  /* z-index: 99; */
}
.footer {
  position:relative;
  left:0;
  bottom:0;
  right:0;
}
@media screen and (max-width: 580px) {
  .title2 {
    margin-top: -135px;
    padding: 0;
  }
}
@media screen and (min-width: 581px) {
  .title2 {
    margin-top: -140px;
    margin-left: 13px;

    padding: 0;
  }
}
@media screen and (min-width: 844px) {
  .title2 {
    margin-top: -135px;
    margin-left: 13px;

    padding: 0;
  }
}
@media screen and (min-width: 1060px) {
  .title2 {
    margin-top: -85px;
    margin-left: 13px;

    padding: 0;
  }
}
@media screen and (min-width: 1155px) {
  .title2 {
    margin-top: -87px;
    margin-left: 13px;
    padding: 0;
  }
}
@media screen and (max-width: 580px) {
  .title3 {
    margin-top: -135px;
    padding: 0;
  }
}
@media screen and (min-width: 581px) {
  .title3 {
    margin-top: -140px;
    margin-left: 13px;

    padding: 0;
  }
}
@media screen and (min-width: 844px) {
  .title3 {
    margin-top: -135px;
    margin-left: 13px;

    padding: 0;
  }
}
@media screen and (min-width: 1060px) {
  .title3 {
    margin-top: -85px;
    margin-left: 13px;

    padding: 0;
  }
}
@media screen and (min-width: 1155px) {
  .title3 {
    margin-top: -87px;
    margin-left: 13px;
    padding: 0;
  }
}


@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.borderb {
  border-bottom: 1px solid var(--grey);
}
.bordert {
  border-top: 1px solid var(--grey);
}
.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}
/* TESTING */

.image-container {
  /* overflow:hidden;
  min-height: 500px;
  height: 100%;
  max-width: 100%;
  display:block;
  float: right;
  background-clip: border-box;
  position: relative;
  right: 0; */
  width: 100%;
  }
  .image-container > img {
  height: 500px;
  width: 100%;
  overflow: hidden;
  float: right;
  }

.center {
    position: absolute;
    float: center;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 280px;
  }
  .leftimg {
    position: absolute;
    left: -875px;
    z-index: 6 !important;
  }
  .b4left{
    background: var(--black);
    position: absolute;
    z-index: 2;
    left: 0;
    height: 595px;
    width: calc(50vw - 500px);
    opacity: 1;
  }

  .fadeleft {
  background-image: linear-gradient(to right, var(--black) 2vw, rgba(0,0,0,0));
    position: absolute;
    z-index: 20;
    left: 0;
    height: 595px;
    width: 10vw;
    opacity: .5;
  }
    .rightimg {
    position: absolute;
    right: -1100px;
    z-index: 6 !important;
  }
  .b4right{
    background: var(--black);
    position: absolute;
    z-index: 2;
    right: 0;
    height: 720px;
    width: calc(50vw - 500px);
    opacity: 1;
  }
  .faderight {
  background-image: linear-gradient(to left, var(--black) 2vw, rgba(0,0,0,0));
    position: absolute;
    z-index: 20;
    right: 0;
    height: 720px;
    width: 10vw;
    opacity: .5;
  }
  .footer {
    color: var(--grey);
    font-family: 'BeVietnamPro';
    font-weight: 100;
  }
  .footer h6{
    color: var(--white);
  }
  p {
    font-family: 'BeVietnamPro';
    font-weight: 100;
    font-size: 17px;
  }
  p a {
    color: var(--red);
    font-family: 'BeVietnamPro-black';
  }
  p a:hover {
    color: var(--darkred);
    text-decoration: underline;
  }
  .description p {
    font-size: 15px;
    color: var(--darkgrey);
    font-family: 'BeVietnamPro-black';
  }
  .description a {
    color: var(--red);
    font-family: 'BeVietnamPro-black';
  }
  .description a:hover {
    color: var(--darkred);
    text-decoration: underline;
  }
.left {
    position: absolute;
    left: -800px;
  }
  .left2 {
    position: absolute;
    left: -950px;
  }
   .right {
    position: absolute;
    right: -800px;
  }
  .right2 {
    position: absolute;
    right: -500px;
  }
  @media screen and (max-width: 1430px) {
    .left {
      position: absolute;
      left: -700px;
    }
    .left2 {
      position: absolute;
      left: -860px;
    }
     .right {
      position: absolute;
      right: -700px;
    }
    .right2 {
      position: absolute;
      right: -400px;
    }
  }
  @media screen and (max-width: 844px) {
    .left {
      position: absolute;
      left: -600px;
    }
    .left2 {
      position: absolute;
      left: -600px;
    }
  }
  .idk {
    background-image: url(./assets/headerimg.png);
    /* min-height: 100px; */
    background-repeat: no-repeat;
    background-position:  top 40%  left 0%;
    background-size: 50%;
    z-index: 99 !important;
  }
    .idk2 {
    background-image: url(./assets/grey.png);
    /* min-height: 100px; */
    background-repeat: no-repeat;
    background-position:  top 60%  right 40%;
    background-size: 30%;
    z-index: 99 !important;
    border-bottom: 1px solid var(--grey);
  }
  .aboutimg .left {
    position: absolute;
    float: center;
    left: calc(-50vw - 150px);
  }
  .aboutimg .right {
    position: absolute;
    float: center;
    right: calc(-50vw - 150px);
  }
  .aboutimg  {
    position: relative;
    /* margin: 40px 0; */
    max-height: 100%;
    /* z-index: -2 !important; */
    background: var(--black);
  }
  .aboutsec {
    background-image: url(./assets/swirl.png);
    background-size: cover;
    z-index: 10;
  }
  .ig:hover a {
    opacity: 0.7;
  }

  .ig a:hover {
    opacity: 1;
  }
a {
  z-index: 20;
}
